.slider{
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#main {
    width: 60vw;
    border: 1px solid rgb(77, 75, 75);
}

#right {
    width: 10vw;
}
#left {
    width: 10vw;
}

/*

.hide {
    display: none;
}

*/

[class="block"] {
    width: 200px;
    height: 100px;
    background-color: aquamarine;
}

h3{
    text-align: center;
}